<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:security="http://www.springframework.org/schema/security"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    
    <security:global-method-security secured-annotations="enabled"/>
    
    <security:http auto-config="true" use-expressions="true">
        <security:intercept-url pattern="/paginas/privada/perfil1/**" access="hasRole('ROLE_PERFIL1')"/>
        <security:intercept-url pattern="/paginas/privada/perfil2/**" access="hasRole('ROLE_PERFIL2')"/>
        <security:intercept-url pattern="/paginas/privada/**" access="isAuthenticated()" />
        <security:intercept-url pattern="/paginas/publica/**" access="isAnonymous()"/>
        
        <security:form-login login-page="/login.do" />
        <security:logout logout-success-url="/sair.do" invalidate-session="true" />
        <security:access-denied-handler error-page="/acessonegado.do" />
        <!-- <security:remember-me/> -->
        <security:session-management invalid-session-url="/login.do">
            <security:concurrency-control max-sessions="1" error-if-maximum-exceeded="true" expired-url="/timeout.do" />
        </security:session-management>
    </security:http>
    
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider user-service-ref="autenticacaoService">
            <security:password-encoder hash="plaintext" />
        </security:authentication-provider>
    </security:authentication-manager>
</beans>